   .gulboks{
    position: fixed;
    color: maroon;
    background-color: white;
    top: 100px;
    left: 40px;
    z-index: 0;
    width: 300px;
    height: 150px;
    padding: 30px;
    font-size: 20px;
    border:1px solid #000000;
  }

  .sortboks{
    position: absolute;
    color: #000000;
    background-color: #ffffff;
    top: 100px;
    left: 600px;
    z-index: 3;
    width: 140px;
    height:60px;
    padding: 10px;
    text-align: left;
    font-size: 16px;
  }

  .oransjeboks{
    position: absolute;
    color: black;
    background-color: orange;
    top: 160px;
    left: 310px;
    z-index: 6;
    width: 130px;
    height: 40px;
    padding: 5px;
  }
#white{
    color: black;
}
@keyframes hinge {
    0% {
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    
    20%, 60% {
        transform: rotate3d(0, 0, 1, 80deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
    }
    
    40%, 80% {
        transform: rotate3d(0, 0, 1, 60deg);
        transform-origin: top left;
        animation-timing-function: ease-in-out;
        opacity: 1;
    }
    
    to {
        transform: translate3d(0, 700px, 0);
        opacity: 0;
    }
}

.hinge {
    animation-name: hinge;
}
